:root {
  --primary-color: #35b7f1;
  --primary-color-dark: #0e7cad;
  --secondary-color: #ed7000;
  --secondary-color-dark: #bd5900;
  --darker-gray-color: #868686;
  --dark-gray-color: #cccccb;
  --light-gray-color: #d8d8d8;
}
