.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container .about-company {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 120px 0;
}

.about-company:nth-child(even) {
  flex-direction: row-reverse;
}

.about-container .about-company .image-container {
  width: 50%;
  height: fit-content;
  float: right;
}

.about-container .about-company img {
  width: 50%;
}

.about-container .about-company section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.about-container .about-company h2 {
  font-size: 28px;
  font-weight: 800;
  color: rgb(56, 56, 56);
  margin: 0;
}

.about-container .about-company h2 span {
  font-size: 28px;
  font-weight: 800;
  color: var(--primary-color-dark);
  margin: 0;
}

.about-container .about-company section .line {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: rgb(179, 179, 179);
}

.about-container .about-company h5 {
  font-size: 16px;
  color: rgb(56, 56, 56);
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.about-container .about-company p {
  font-size: 14px;
  color: rgb(90, 90, 90);
  line-height: 20px;
  text-align: justify;
}

.about-container .about-company .reach-us {
  font-size: 14px;
  margin-top: 20px;
  color: rgb(90, 90, 90);
  line-height: 20px;
  margin-bottom: 0;
}

.about-container .about-company a {
  font-size: 14px;
  margin-top: 20px;
  line-height: 16px;
  color: var(--secondary-color);
}

.about-container .about-company button {
  background-color: var(--secondary-color);
  border: none;
  margin-top: 20px;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .about-container .about-company {
    width: 85%;
    margin: 100px 0;
  }
  .about-container .about-company h2 {
    font-size: 24px;
  }
  .about-container .about-company h2 span {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .about-container .about-company {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 50px 0;
  }
  .about-container .about-company img {
    width: 100%;
  }
  .about-container .about-company section {
    width: 100%;
    margin-top: 20px;
  }
}
