.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.register-container .orange {
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color-dark);
}

.register-container .blue {
  width: 70%;
  height: 100%;
  background-color: var(--nav-color);
}

.register-container section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.register-container section .register-card {
  position: relative;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 50px 0;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.register-container .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.form-wrapper .message-wrapper {
  width: fit-content;
  color: green;
}

.form-wrapper .message-wrapper p {
  font-size: 14px;
  padding: 5px 10px;
  color: white;
}

@media (max-width: 1024px) {
  .register-container section .register-card {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .register-container section .register-card {
    display: flex;
    flex-direction: column;
  }
  .register-container section .register-card {
    padding: 20px 0;
  }
  .register-container .orange {
    width: 20%;
  }
  .register-container .blue {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .register-container .orange {
    width: 15%;
  }
  .register-container .blue {
    width: 85%;
  }
}
