.hero-container {
  position: relative;
}

.hero-container img {
  width: 100%;
}

.slogan-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 35%;
  left: 80px;
  width: 40%;
}

.slogan-title {
  font-size: 18px;
  word-spacing: 6px;
  font-weight: 600;
  padding-bottom: 14px;
  color: rgb(207, 207, 207);
}

.slogan-container .slogan {
  color: var(--primary-color-dark);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 26px;
  word-spacing: 1rem;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 4px 0;
}

.slogan span {
  color: var(--secondary-color);
}

.slogan-description {
  font-size: 14px;
  font-weight: 500;
  color: rgb(156, 156, 156);
  text-align: left;
  line-height: 1.6;
  margin: 50px 0;
  width: 90%;
}

.hero-container .btn-wrapper {
  display: flex;
  margin-top: 20px;
}

.slogan-container .book-btn {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  color: white;
  width: 120px;
  height: 50px;
  padding: 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.slogan-container .book-btn p {
  font-size: 18px;
  padding: 0px 2px;
  margin-right: 4px;
  color: white;
}

.slogan-container .learn-btn {
  background-color: var(--primary-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: white;
  width: 120px;
  height: 50px;
  padding: 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.slogan-container .learn-btn p {
  font-size: 18px;
  margin-right: 6px;
  padding: 0;
  color: white;
}

.slogan-container .book-btn:hover {
  background-color: var(--secondary-color-dark);
}

.slogan-container .learn-btn:hover {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .slogan-container {
    top: 25%;
    left: 50px;
    width: 50%;
  }
  .slogan-title {
    font-size: 16px;
  }
  .slogan-description {
    margin: 20px 0;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .slogan-container {
    top: 30%;
    left: 20px;
    width: 90%;
    height: 60%;
    justify-content: space-between;
  }
  .slogan-title {
    display: none;
  }
  .slogan-container .slogan {
    font-size: 20px;
    word-spacing: 0.1rem;
    width: 60%;
  }
  .slogan-description {
    display: none;
  }
  .hero-container .btn-wrapper {
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
  }
  .slogan-container .book-btn {
    border-radius: 6px;
    width: 100px;
    height: 35px;
    padding: 0px;
    margin-right: 20px;
  }
  .slogan-container .book-btn p {
    font-size: 14px;
    padding: 0px 2px;
  }
  .slogan-container .learn-btn {
    border-radius: 6px;
    width: 100px;
    height: 35px;
    padding: 0px;
    margin: 0;
  }
  .slogan-container .learn-btn p {
    font-size: 14px;
    padding: 0px 2px;
  }
}
