.booking-wrapper {
  position: relative;
  width: 100%;
}

.booking-conatiner {
  display: flex;
  flex-direction: column;
  background-image: url("../../../../public/images/booking-background.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  margin: 10% auto;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.booking-conatiner h1 {
  color: var(--primary-color-dark);
  margin: 0 0 40px 0;
}

.booking-conatiner .message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.booking-conatiner .message p {
  font-size: 14px;
  color: red;
}

.booking-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: end;
}

.booking-selector div :first-child {
  display: flex;
}

.booking-selector .car-form-label i {
  color: var(--secondary-color);
  padding-right: 12px;
}

.booking-selector .car-form-label p {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.booking-selector .car-form-label p span {
  padding-left: 5px;
  color: var(--secondary-color);
}

.booking-selector .select-conatiner select:focus {
  border: 1px solid gray;
}

.booking-selector .select-conatiner select {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #b6b7b9;
  border-radius: 0;
  outline: none;
  color: #ababab;
}

.booking-selector .select-date {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #b6b7b9;
  border-radius: 0;
  outline: none;
  color: #ababab;
}

.booking-selector .select-conatiner select option {
  padding: 14px 0 !important;
}

.booking-conatiner .reserve-btn {
  height: 40px;
  width: 100%;
  background-color: var(--primary-color-dark);
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .booking-conatiner {
    width: 90%;
  }
  .booking-selector {
    gap: 20px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .booking-conatiner {
    padding: 30px;
  }
  .booking-selector {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .booking-selector .car-form-label i {
    padding-right: 6px;
  }
  .booking-selector .car-form-label p {
    font-size: 12px;
  }
  .booking-selector .car-form-label p span {
    padding-left: 3px;
  }
  .booking-selector .select-conatiner select option {
    padding: 0 !important;
  }
  .booking-selector .select-conatiner select {
    margin-top: 5px;
    font-size: 14px;
  }
}
