.footer-container {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(0, 18, 29);
}

.footer-container aside img {
  width: 240px;
}

.footer-container .space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 40px;
}

.footer-container .my-contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container aside {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 40px;
}

.footer-container .space-company .company {
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
  margin: 0;
  align-items: flex-start;
}

.footer-container .space-company {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container aside h3 {
  margin: 0;
  letter-spacing: 2px;
  font-size: 20px;
}

.footer-container aside .working-hours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.footer-container aside .working-hours p {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 300;
}

.footer-container aside a {
  color: white;
  font-size: 14px;
  margin-top: 20px;
}

.footer-container aside a:hover {
  color: var(--secondary-color);
}

.footer-container aside p {
  font-size: 14px;
  font-weight: 300;
}

.footer-container aside .footer-paragraph {
  margin-bottom: 60px;
}

.footer-container aside div {
  display: flex;
  align-items: center;
  margin: -20px 0;
}

.footer-container aside .info p {
  padding-left: 10px;
  font-weight: 600;
}

.footer-container .space .submit {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.footer-container .space .submit input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.footer-container .space .submit button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
}

@media (max-width: 768px) {
  .footer-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 40px;
    justify-items: center;
  }
  .footer-container .space {
    padding: 0;
  }
  .footer-container aside img {
    width: 200px;
  }
  .footer-container aside .footer-paragraph {
    margin-bottom: 40px;
    width: 70%;
  }
  .footer-container aside p {
    font-size: 12px;
  }
  .footer-container aside .info {
    margin: 0 0 10px 0;
  }
  .footer-container aside {
    padding: 10px;
    margin: 20px 0;
    width: 90%;
  }
  .footer-container .space-company {
    align-items: flex-start;
  }
}

@media (max-width: 425px) {
  .footer-container aside img {
    width: 80%;
    padding-bottom: 20px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    gap: 20px;
    justify-items: center;
  }
  .footer-container .my-contact-container .info {
    margin: 5px;
  }
  .footer-container aside {
    padding: 0;
    align-items: center;
  }
  .footer-container .space-company {
    padding: 0;
    align-items: center;
  }
  .footer-container .space .submit {
    width: 80%;
  }
}
