.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.sticky {
  background-color: rgba(0, 37, 58, 0.7);
}

.logo {
  margin-left: 40px;
}

.nav-container .list {
  display: flex;
  list-style: none;
}

.nav-container .list li a {
  color: #e7e7e7;
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav-container .list li a:hover {
  color: var(--primary-color);
}

.nav-container .button-wrapper {
  display: flex;
  align-items: center;
  margin-right: 40px;
  height: 100%;
}

.nav-container .button-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
}

.nav-container .button-wrapper .user-name-container {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-container .button-wrapper .user-name-container:hover .user-menu {
  display: block;
}

.nav-container .button-wrapper .user-name-container .user-menu.sticky {
  background-color: rgba(0, 37, 58, 0.7);
}

.button-wrapper .user-name-container .user-menu {
  position: absolute;
  display: none;
  top: 70px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.button-wrapper .user-name-container .user-menu a {
  font-size: 14px;
  width: 100%;
  color: white;
  padding: 20px 0;
}

.button-wrapper .user-name-container .user-menu a:hover {
  background-color: var(--primary-color);
}

.nav-container .list li a.active {
  color: var(--primary-color);
}

.nav-container .button-wrapper .login-btn {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.nav-container .button-wrapper .user-full-name {
  color: var(--primary-color);
  text-transform: capitalize;
}

.nav-container .button-wrapper .login-btn:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.nav-container .button-wrapper .register-btn {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  margin-left: 20px;
}
.nav-container .button-wrapper .register-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.nav-container .mobile-dropdown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
}

.nav-container .mobile-dropdown .fa-bars {
  color: var(--primary-color);
}

.nav-container .mobile-dropdown ul {
  list-style: none;
}

.nav-container .mobile-dropdown .dropdown-open {
  position: absolute;
  right: 0;
  top: 60px;
  background-color: var(--dark-gray-color);
  background-color: rgba(0, 0, 0, 0.6);
  width: 220px;
}

.nav-container .mobile-dropdown .dropdown-open li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}

.nav-container .mobile-dropdown .dropdown-open .user-full-name {
  padding: 10px 0;
  font-weight: 700;
}

.nav-container .mobile-dropdown .dropdown-open li:last-child {
  border-bottom: none;
}

.nav-container .mobile-dropdown .dropdown-open a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
}

.mobile-dropdown .dropdown-open a.register-btn {
  background-color: rgba(189, 89, 0, 0.7);
  width: 100%;
}

.mobile-dropdown .dropdown-open a.login-btn {
  background-color: rgba(14, 124, 173, 0.7);
  width: 100%;
}

@media (max-width: 768px) {
  .nav-container {
    height: 60px;
  }
  .nav-container .logo {
    margin-left: 20px;
    height: 30px;
  }
  .nav-container .list li a {
    padding: 0 10px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .nav-container .button-wrapper {
    margin-right: 20px;
  }
  .nav-container .button-wrapper a {
    width: 70px;
  }
  .button-wrapper .user-name-container .user-menu {
    top: 60px;
  }
  .nav-container .button-wrapper .login-btn {
    font-size: 14px;
  }
  .nav-container .button-wrapper .register-btn {
    font-size: 14px;
  }
}
