.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.sticky {
  background-color: rgba(0, 37, 58, 0.7);
}

.logo {
  margin-left: 40px;
}

.nav-container .list {
  display: flex;
  list-style: none;
}

.nav-container .list li a {
  color: #e7e7e7;
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav-container .list li a:hover {
  color: var(--primary-color);
}

.nav-container .button-wrapper {
  display: flex;
  margin-right: 40px;
}

.nav-container .button-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
}

.nav-container .list li a.active {
  color: var(--primary-color);
}

.nav-container .button-wrapper .login-btn {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.nav-container .button-wrapper .user-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container .button-wrapper .user-full-name {
  color: var(--primary-color);
  text-transform: capitalize;
}

.nav-container .button-wrapper .login-btn:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.nav-container .button-wrapper .register-btn {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  margin-left: 20px;
}
.nav-container .button-wrapper .register-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
