.vautour-wrapper section form {
    display: flex;
    flex-direction: column;
  }
  
  .vautour-wrapper section form h5 {
    font-size: 20px;
    margin: 30px;
    color: #002b3d;
    text-transform: uppercase;
  }
  
  .vautour-wrapper section form .vautour-user-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    justify-items: end;
  }
  .vautour-wrapper section form label {
    color: #002b3d;
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .vautour-wrapper section form label p {
    color: #002b3d;
    font-size: 11px;
    margin-top: 2px;
  }
  
  .vautour-wrapper section form label span {
    color: var(--secondary-color);
  }
  
  .vautour-wrapper section form label input {
    margin-top: 6px;
    font-size: 14px;
    padding: 6px;
    color: var(--secondary-color);
  }
  
  .vautour-wrapper section form .checkbox-wrapper {
    display: flex;
    align-items: center;
    width: 82%;
    margin: 8px auto 30px auto;
  }
  
  .vautour-wrapper section form .checkbox-wrapper input,
  .vautour-wrapper section form .checkbox-wrapper label {
    width: fit-content;
    margin-bottom: 0;
  }
  
  .vautour-wrapper section form .checkbox-wrapper label {
    font-size: 14px;
  }
  
  .vautour-wrapper section form .checkbox-wrapper input {
    margin-right: 8px;
  }
  
  .vautour-cantainer .error-message, .success-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vautour-cantainer .error-message p {
    font-size: 14px;
    color: red;
  }
  
  .vautour-cantainer .success-message p {
    font-size: 14px;
    color: green;
  }
  
  .vautour-wrapper section form .form-reserve-btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    width: 90%;
  }
  
  .vautour-wrapper section form .form-reserve-btn .btn-reserve {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
  }
  